<!DOCTYPE html>
<html>

<head>
    <title>Website</title>
</head>

<body>
    <center>
        <h1>Welcome!</h1>
        <hr />
        <div class="login">
            <div>
                <h3>Login</h3>
                <div>
                    <form action="/" method="post">
                        <input type="text" name="logemail" placeholder="Email..." required="" />
                        <br /><br />
                        <input type="password" name="logpassword" placeholder="Password..." required="" />
                        <br /><br />
                        <input type="submit" value="Login Now!" />
                        <p>No account?</p><a href="/register">Register</a>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <br />
        <hr />
        <p>&copy; 2019</p>
    </center>
</body>

</html>